.footer {
    display: flex;
    justify-content: center;
    background-color: #2A2C2F
}

.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: right;
}