 .lead {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;

 }

 .lead__tittle {
     font-weight: 900;
     font-style: Black;
     font-size: 100px;
     line-height: 100px;
     letter-spacing: 0%;
     text-align: center;
     padding-bottom: 5px;
     max-width: 720px;
     width: 85%;

 }

 .lead__subtittle {
     font-weight: 400;
     font-size: 30px;
     line-height: 36px;
     letter-spacing: 0%;
     text-align: center;
     padding-bottom: 20px;
     max-width: 720px
 }

 .lead__image {
     width: 100%;
     max-width: 984px;
     height: 607px;
     margin-top: 20px;

 }

 /* Medida para tablets (768px a 1280px) */
 @media screen and (min-width: 768px) and (max-width: 1280px) {

     .lead__tittle {
         font-size: 80px;
         line-height: 80px;

     }

     .lead__subtittle {
         font-size: 30px;
         line-height: 30px;
     }
 }

 /* Medida para telefonos (320px a 767px) */
 @media screen and (min-width: 320px) and (max-width: 767px) {
     .lead__tittle {
         font-size: 40px;
         line-height: 40px;
     }

     .lead__subtittle {
         font-size: 15px;
         line-height: 18px;
     }

     .lead__image {
         height: 300px;
     }
 }