 .photo-grid {
     padding: 46px 48px 46px;
     margin: 0 auto;

 }

 .photo-grid__list {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
     gap: 16px;
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 .photo-grid__item {
     width: 100%;
     height: 100%;
     display: block;
     object-fit: cover;
     max-width: 100%;
 }




 /* Medida para tablets (768px a 1280px) */
 @media screen and (min-width: 768px) {
     .photo-grid {
         padding: 46px 48px 46px;
         margin: 0 auto;
     }

     .photo-grid__list {
         font-size: 80px;
         line-height: 80px;

     }

     .photo-grid__item {
         font-size: 30px;
         line-height: 30px;
     }
 }


 /* Medida para telefonos (767px) */
 @media screen and (max-width: 767px) {
     .photo-grid {
         padding: 24px;
         margin: 0 auto;
     }

     .photo-grid__list {
         font-size: 40px;
         line-height: 40px;
     }

     .photo-grid__item {
         font-size: 15px;
         line-height: 18px;
     }
 }