    .places {
        padding: 46px 148px 46px;
        margin: 0 auto;
        font-family: 'Inter';
    }

    .place {
        display: grid;
        grid-template-columns: 460px 1fr;
        grid-template-rows: auto auto 1fr;
        grid-gap: 48px 40px;
        grid-template-areas:
            'title artist'
            'image text'
            'button text';
    }

    .places__item {
        margin: 0 0 80px;


    }

    .place__title {
        font-family: "inter", sans-serif;
        font-size: 59px;
        line-height: 1.1;
        margin: 0;
        grid-area: title;
    }

    .place__image {
        width: 100%;
        display: block;
        box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
        grid-area: image;
        object-fit: cover;
    }

    .place__button {
        width: max-content;
        height: max-content;
        color: #FFFFFF;
        padding: 13px 20px;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        font-family: "inter", sans-serif;
        cursor: pointer;
        background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
        box-shadow: 5px 5px 10px #00000040;
        text-decoration: none;
        border-radius: 5px;
        grid-area: button;



    }

    .place__artist {
        grid-area: artist;
    }

    .place__artist-heading {
        color: #aaa;
        letter-spacing: 3px;
        font-size: 18px;
    }

    .place__artist-name {
        font-size: 18px;
        line-height: 0.5;
    }

    .place__name {
        line-height: 22px;
        margin: 0;
        font-size: 18px;
        grid-area: name;


    }

    .place__description {
        max-width: 484px;
        line-height: 1.5;
        font-size: 18px;
        grid-area: text;

    }

    .place__description-list {
        max-width: 484px;
        line-height: 24px;
        font-size: 16px;
        grid-area: text;
        grid-area: list;
    }

    /* Medida para tablets (768px a 1280px) */
    @media screen and (min-width: 768px) {
        .photo-grid {
            padding: 46px 48px 46px;
            margin: 0 auto;
        }

        .photo-grid__list {
            font-size: 80px;
            line-height: 80px;

        }

        .photo-grid__item {
            font-size: 30px;
            line-height: 30px;
        }
    }


    /* Medida para telefonos (767px) */
    @media screen and (max-width: 767px) {
        .photo-grid {
            padding: 46px 48px 46px;
            margin: 0 auto;
        }

        .photo-grid__list {
            font-size: 40px;
            line-height: 40px;
        }

        .photo-grid__item {
            font-size: 15px;
            line-height: 18px;
        }
    }